/* common rules */
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbbc 100%);
  font-family: 'Lato', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.fl{
  float: left;
}

.container{
  width: 80%;
  min-width: 950px;
  margin: 20px auto;
  height: calc(100vh - 40px);
}

img{
  height: 50px;
  border-radius: 100%;
  vertical-align: middle;
}

ul{
  list-style-type: none;
}

i{
  font-size: 23px;
  color: #b1b1b1;
}
/* /common rules */
.sidebar{
  width: 35%;
  height: 100%;
  border-right: blue solid 1px;
  background-color: #fff;
}

.sidebar-a{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding-right: 10px;
  padding-left: 10px;
}

.icons-box i{
  margin-right: 15px;
}

.sidebar-b{
  background-color: #8edafc;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 80px;
}

.bell-container{
  border-radius: 100%;
  background-color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.bell-container i {
  color: #8edafc;
  font-size: 20px;
}

.notifications p{
  text-decoration: underline;
  color: grey;
  margin-top: 1px;
  font-size: 14px;
}

.notifications span{
  font-size: 15px;
}

.sidebar-c{
  height: 50px;
  display: flex;
  align-items: center;
}

.sidebar-c i{
  font-size: 15px;
  margin-right: 23px;
  padding-left: 30px;
}

.sidebar-c input{
 border: none;
 width: 80%;
 height: 30px;
 padding-left: 5px;
}

.sidebar-d{
  height: calc(100% - 205px);
}

.sidebar-d img{
  margin-left: 20px;
  height: 55px;
  vertical-align: top;
  margin-right: 15px;
}

.sidebar-d li{
  padding: 8px 0;
}

.sidebar-d li:hover{
  background-color: #ccc;
}

.main{
  height: 100%;
  width: 65%;
}

.main-top{
  height: calc(100% - 72px);
  background-color: #fff;
}

.name-and-access{
  display: inline-block;
  vertical-align: middle;
  margin-left: 11px;
}

.name-and-access span{
  color: grey;
  font-size: 14px;
}

.active-chat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  padding-right: 10px;
  padding-left: 10px;
}

.active-chat-right i{
  margin-right: 15px;
}

.main-middle{
  background-image: url("../img/mine.jpg");
  height: calc(100% - 72px);
  overflow-y: auto;
}

.main-bottom {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.main-bottom i{
  padding-right: 25px;
  padding-left: 26px;
}

.my-message{
  width: 83%;
  height: 50px;
  border: 2px solid black;
  padding: 15px;
}

.sent{
  background-color: #dcf8c6;
  clear: both;
  float: right;
  max-width: 50%;
  border: 1px solid #ccc;
  padding: 11px;
  color: #031c4e;
  border-radius: 8px;
  display: block;
  margin-top: 2px;
  margin-right: 50px;
}

.received{
  background-color: #fff;
  clear: both;
  float: left;
  max-width: 50%;
  border: 1px solid #ccc;
  padding: 11px;
  color: #031c4e;
  border-radius: 8px;
  display: block;
  margin-top: 2px;
  margin-left: 50px;
}
